svg {
  cursor: pointer;
}

.post {
  background-color: rgba(240,240,240,0.8);
}

.post-header .img-container {
  width: 30px;
  height: 30px;
}

.username {
  font-weight: 500;
}

ul > li {
  margin-left: 5px;
}

.post-body {
  height: 300px;
}

.like {
  bottom: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
}

.likesCount {
  font-size: 13px;
}