svg {
  cursor: pointer;
}

.post {
  width: 300px;
}

.post-header .img-container {
  width: 30px;
  height: 30px;
}

ul > li {
  margin-left: 5px;
}

.post-body {
  height: 250px;
}

.like {
  bottom: 10%;
  right: 10%;
  width: 30px;
  height: 30px;
}